/* Header of the page */

.header{
    /* display: none; */

}

.img__header{
    position: fixed;
    top: 10px;
    color: white;
}
.marca{
    width: 35px;
}
.nav{
    
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 95%;
    padding-top: 10px;
    text-align: center;
    align-items: center;
    padding-top: 20px;
}
.fondo1{
    background-size: cover;
    filter: grayscale(0.5) brightness(0.3) blur(2px);
    background-attachment: fixed;
    background-image: url(./imagenes/fondo.jpg);
    width: 100%;
    height: 220vh;
    background-position: center;
    z-index: -1;
    position: absolute;
}
.list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: end;
    gap: 1em;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    top: 15px;
    color: rgb(255, 250, 184);
    position: fixed;
    right: 50px;
    color: white;
}

.list6{
    background-color: rgb(138, 0, 0);
    width: 120%;
    height: 150%;
    padding-top: 20px;
}
/* Contenido del titulo */

.title__contet{
    
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 250px;
    margin-top: 15%;
    
}

.title{
    text-align: center;
    font-size: 72px;
    max-width: 80%;
    grid-column: 2/6;
    color: rgb(246, 246, 246);
    font-family: serif;
    
}
.sub__title{
    grid-column: 2/4;
    grid-row: 2/3;
    margin-top: 8px;
    color: rgb(227, 174, 185);
  
}

.redes{
    list-style: none;
    text-align: center;
    right: 40px;
    position: fixed;
    z-index: 2;
}
.redes__red img{
    width: 2em;
}
._{
    grid-column: 1/2;
    color: rgb(207, 11, 11);
    text-align: end;
    font-size: 20px;  
}
.time{
    display: flex;
    margin-bottom: 500px;
    margin-top: 50px;
    margin-left: 60%;
    white-space: nowrap;
}
.day{
    background-color: rgba(0, 0, 0, 0.705);
    border: solid 2px rgb(244, 243, 243);
    color: rgb(136, 0, 0);
    font-size: 40px;
    padding: 20px;
    font-weight: bold;
    contain:paint;
}
.month{
    background-color: rgba(0, 0, 0, 0.705);
    font-weight: bold;
    border: solid 3px white;
    color: rgb(136, 0, 0);
    font-size: 40px;
    padding: 20px;
}
.tickets{
    background-color: rgba(0, 0, 0, 0.705);
    font-weight: bold;
    padding: 20px;
    border: solid 3px white;
    color: rgb(136, 0, 0);
    font-size: 40px;
}

/* ORATOR */

.orator{
    
    /* position: relative; */
    display: flex;
    background-color: rgba(173, 216, 230, 0.347);
  
    width: 100%;
    justify-content: center;
    height: 900px;
    
}
.orator__container{
    display: flex;
    max-width: 1080px;
    align-items: center;
    height: fit-content;
    flex-direction: column;
    
}
.orator__top{
    display: flex;
}
.title__orator{
    font-size: 40px;
    margin: 50px;
    white-space: nowrap;
    display: inline;
    
}
.info__orator{
    display: inline;
    margin: 50px;
    font-size: 40px;
    white-space: nowrap;
    color: rgb(209, 132, 209);
    width: 45%;
    
}
.orator__info{
    display: flex;
    margin: 0 auto;
    width: 90%;
    padding: 60px;
    height: 340px;
    top: 0;
    align-items:flex-start;
    background-color: rgb(255, 255, 255);
}
.orator__img{
    
    margin-right: 20px;
}
.orator__p{
    font-size: 30px;
}
.orator2{
    background-color: white;
    width: 90%;
    align-items: center;
    height: 415px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;

}
.orator__link{
    
    list-style: none;
    
}
.orator__item{
    grid-column: 1/6;
    font-size: 30px;
    margin:0 60px;
    text-align: start;

}
.orator__fac{
    grid-column: 2/4;
    background-color: red;
    
}
.orator__ins{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: red;
}
.orator__button{
    width: 230px ;
    background-color: rgb(6, 80, 140);
    
}
.orator__button1{
    margin-left: 4px;
    margin-right: 5px;
}
.fondo2{
    
    background-size: cover;
    filter: grayscale(0.1) brightness(0.5) blur(0.3px);
    background-attachment:fixed;
    background-image: url(./imagenes/fondo2.jpg);
    width: 100%;
    height: 270vh;
    background-position:0px 1700px;
    z-index: -1;
    position: absolute;
}
.horarios{
    /* border: 2px solid red; */
    /* margin-top: 186px; */
    font-size: 50px;
    color: white;
    background-color: rgba(0, 0, 124, 0.451) ;
}
.horarios__title{
    /* margin:50px; */
    padding: 50px;
}
.horario{
    padding: 50px;
    list-style: none;
    border-top: 1px  solid black;
}
.horario1{
    border: 0;
}
.horario2{
    background-color: black;
    padding-top: 10px;
    height: 400px;

   
}


.horario2__list{
    display:grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    /* width: 70%; */
    height: 200px;
    margin: 5%;
    /* padding-left: 25%; */
    /* gap: 1em; */
    background-color: rgba(162, 101, 220, 0.389);
    font-weight: bold;
    /* border: 1px solid black; */
}

.horario__footer{
    font-size: 50px;
    text-align: center;
    list-style: none;
    width: 100%;
    height:100%;
    padding-top: 20px;
    background-color: rgb(167, 135, 235);
}
.horario__footer1{
    border-right: 3px solid black;
}
.horario__footer2{
    border-right: 3px solid black;
}
.horario__footer3{
    border-right: 3px solid black;
}
.horario__footer4{
    grid-column: 1/2;
    grid-row: 2/3;
    /* margin:0 80px; */
    border-right: 3px solid black;
}
.horario__footer5{
    border-right: 3px solid black;
    grid-column: 2/3;
    grid-row: 2/3;
}
.horario__footer6{
    grid-column: 3/4;
    border-right: 3px solid black;
}
.horario__footer7{
    grid-row: 1/3;
    grid-column: 4/5;
    padding-top: 40px;
}
/*Lugar */
.lugar{
    z-index: 21;
    height: 100vh;
    width: 100%;

}

.lugar__content{
    display: flex;
    font-size: 30px;
    /* position: relative; */
    color: wheat;
    background-color: black;
    justify-content: space-between;
    height: 100%;
   
}


.lugar__img{
    background-size:contain;
    background-attachment: fixed;
    background-image: url(./imagenes/piso.jpg);
    width: 100%;
    min-width: 500px;
    height: 100%;
    /* background-position:center; */
    background-repeat: no-repeat;
    min-height: 900px;
    min-width: 700px;
    top: -30 px;
    
}
.lugar__text{
    margin: 60px;
    min-width: 600px;
}
.lugar__title{
    color: white;
    z-index: 20;
    font-size: 100px;
    background-color: black;
}
.lugar__subtitle{
    margin: 60px 0;
}
.lugar__p{
    z-index: 19;
    background-color: black;
}

/* patrocinadores */
.patrocinadores__content{
    background-color: blueviolet;
    width: 100%;
    height: 400px;
   /* padding-top: 600px; */
}
.patrocinadores{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    font-size: 2rem;
}
.patrocinadores__h4{
    font-size: 3rem;
    margin: 0 30px;
}

.patrocinadores__line{
    margin-bottom: 30px;
    padding-left: 10px;
}
.marcas{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.marcas__img{
    margin: 20px;
    width: 80px;
}

/* Footer */

.footer__back{
    background-color:rgb(56, 2, 55);
    display: flex;
    justify-content: center;
}
.footer__content{
    
    max-width: 1000px;
    width: 100%;
    height: 100vh;
    background-color: rgb(56, 2, 55);
    color: rgb(255, 255, 255);
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-bottom: 2px solid rgb(255, 255, 255);
    height: 33%;
}
.footer__title{
 font-size: 3rem;
 max-width: 400px;
}
.footer__line{
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 100px;

}
.footer__subtitle{
    font-size: 25px;
    color: rgb(112, 135, 249);
}
.footer__pay{
    border-bottom: 2px solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    /* align-items: center; */
    place-items:center;
    /* text-align: center;     */
    width: 100%;
    height: 33%;
    font-size: 25px;
}
.footer__pay--f4{
    /* display: flex; */
    
}
.footer__f4{
    /* padding: 60px; */
    /* width: 100px; */
    /* height: 100px; */
    
}
.footer__pay--p{
    /* display: flex; */
}
.footer__p{
    
}
.p1{
    grid-column: 1/2;
    grid-row: 2/3;
}
.p2{
    grid-column: 2/3;
    grid-row: 2/3;
}
.p3{
    grid-column: 3/4;
    grid-row: 2/3;
}
.p4{
    grid-column: 4/5;
    grid-row: 1/3;
    
}
